<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
 
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
 
	<!-- 自动扫描dao和service包(自动注入) -->
	<context:component-scan base-package="org.ship.dao,org.ship.service" />
 	
 	<!-- Email -->
 	<!-- <bean id="JavaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
 		<property name="host" value="smtp.qq.com"/>
 		<property name="username" value="464020173"/>
 		<property name="password" value="lk13510599125"/>
 		相当于 javax.mail.Session中的props属性
 		<property name="javaMailProperties">
 			<props>
 				<prop key="mail.smt.auth">true</prop>
 				<prop key="mail.smtp.from">464020173@qq.com</prop>
 				<prop key="mail.debug">true</prop>
 			</props>
 		</property>
 	</bean> -->
</beans>